@media screen and (max-width:1500px){
   .home{
      height: 83vh;
      margin-bottom: 34rem;
      align-items: flex-start;
   }
   .projects{
      flex-wrap: wrap;

   }
}



@media screen and (max-width:1200px){
   #desktop-nav{
    display: none;
   } 
   #hamburger-nav{
    display: flex;
   }
.hamburger-menu{
    position:relative;
    display:inline-block;
}

.hamburger-icon{
    display:flex;
    flex-direction:column;
    justify-content:space-between;

    height:24px;
    width:30px;

    cursor:pointer;
}

.hamburger-icon span{

    width:100%;
    height:3px;

    background:rgb(255, 255, 255);

    transition:0.3s;
}

.menu-links{

    position:absolute;

    top:100%;
    right:0;

    background:slategrey;

    width:200px;

    max-height:0;

    overflow:hidden;

    transition:0.3s ease-in-out;
}

.menu-links.open{
    max-height:300px;
}






   .Experience, #Experience-1, #Experience-2, #Experience-3{
      margin-top: 2rem;
    
   }
   .home,.about, .projects, .Experience, .contact, .liveDemo, .about-section2
   {
      display: block;
      
   }
   
   
   
   

   .about{
      margin-top: 0;
   }

}
@media screen and (max-width:600px){
 #contact,
 footer{
   height: 40vh;
 }
 #home{
   height: 83vh;
   margin-bottom: 0;
 }

 footer {
   height: fit-content;
   margin-bottom:2rem;
 }
 .about{
   flex-wrap: wrap;
 }
 .contact-info-container{
   margin: 0;
 }
 .contact-info-container p,.nav-links li a{
   font-size: 1rem;
 }
 .experience-sub-title{
   font-size: 1.25rem;

 }
 .logo{
   font-size: 1.5rem;
 }
.nav-links{
   flex-direction: column;
   gap: 0.5rem;
   text-align: center;
}
.body img {
   width: auto;
   height: 46vh;
   justify-content: center;
}



}